body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

.info_cursos {
    background-color: floralwhite;
    margin: auto;
    max-width: 470px;
    padding: 8px;
    border-radius: 20px;
}

.titulo {
    background-color: black;
    color: white;
}

td {
    background-color: white;
    margin: auto;
    max-width: 200px;
    border-radius: 8px;
}

#formulario {
    background-color: whitesmoke;
    margin: auto;
    border-radius: 8px;
    text-align: center;
    max-width: 600px;
}
